%nav.main_nav_bar.main_nav_bar--desktop.grid
  .main_nav_drop_down
    .main_nav_drop_down__dropper
      %a.main_nav_drop_down__item{:href => "/profile/me"} Profile
      %span.main_nav_drop_down__item Log out
  .row.middle.main_nav_bar_content
    .logo
      %a.active{:href => "/"}
        %img{:alt => "Logo Nice To Mate You", :src => '/img/logo_nmy_inline_2015.png'}
    .right_elem
      %a.watch_video{:href => "http://bit.ly/2eoavgW", :target => "_blank"} Watch the video
      %span.btn_header_register
        = link_to 'Register', sign_up_path
      %span.btn_header_login
        = link_to 'Login', sign_in_path
