= form_for :session, url: session_path do |form|
  .input_txt.input_txt--center
    = form.text_field :email, type: 'email', autofocus: true, placeholder: 'Email'
  .input_txt.input_txt--center
    = form.password_field :password, autocomplete: "off", placeholder: 'Password'
  %button.btn.default_button_cpnt.btn__plain_login_register{:type => "submit"}
    Login
