.home_page_cpnt
  .grid.zi-2
    .row
      .all-16
        .video_wrapper{:style => "height: 400px; background-image: url(\"http://nicetomateyou.com/img/home/mobile_video_bg.jpg\");"}
          %video.m-hidden.s-hidden.width_prior{:autoplay => "", :loop => "", :src => "/video/video_cover_nmy_2015.mp4", :style => "top: -160px;"}
          .overlay
          .text_content
            %h2 Nice to Mate You
            %p
              / react-text: 53
              When finding the right flatmates
              / /react-text
              %br/
              / react-text: 55
              for your lifestyle becomes an exciting adventure
          / /react-text
          .grid.search.m-hidden.s-hidden
            .grid_wrapper
              .row.around
                .xl-4.l-4
                  %button.btn.btn__rounded Meet your next flatmates
  .intro
    .grid.grid_wrapper
      .row.center.middle
        .xl-11.l-11.m-14.s-15
          %p.std For erasmus, exchange student, internship or job abroad, gap year and all the international kids out there!
  .zi-1.workflow
    .grid.grid_wrapper
      .row
        .all-16.ta-center.section_title.section_title--workflow
          %h3 How does it work?
      .row.center
        .xl-14.l-14.m-16.s-16
          .row.around
            .xl-4.l-4.m-16.s-16.workflow__item
              %i.icon.i_alien_hi
              %p
                / react-text: 77
                Introduce yourself your
                / /react-text
                %span passions, hobbies, stories
                / react-text: 79
                and more
            / /react-text
            .xl-4.l-4.m-16.s-16.workflow__item
              %i.icon.i_crew
              %p
                / react-text: 83
                Create
                / /react-text
                %span your crew
                / react-text: 85
                or join an
                / /react-text
                %span existing crew
                / react-text: 87
                of flatmates
            / /react-text
            .xl-4.l-4.m-16.s-16.workflow__item
              %i.icon.i_globe
              %p
                / react-text: 91
                Together find
                / /react-text
                %span a cool place to live
  .grid.grid_wrapper.zi-1
    .row
      .all-16.ta-center.section_title.section_title--examples
        %h3 What is your situation?
        %p
          / react-text: 98
          Are you
          / /react-text
          %b Homeless
          / react-text: 100
          ,
          / /react-text
          %b Existing Flatshare
          / react-text: 102
          or
          / /react-text
          %b Places to rent
          / react-text: 104
          ?
    / /react-text
    .row.center.examples
      .xl-12.l-14.m-16.s-16
        .row.examples__row
          .xl-6.l-6.m-16.s-16.examples__content
            .shuttle
              .xl-16.l-16.m-8.s-16.first
                %i.icon.i_homeless
                %p.title Homeless
              .xl-16.l-16.m-8.s-16.second
                %p.baseline
                  / react-text: 115
                  You are looking for
                  / /react-text
                  %span flamates + place
                %p.s_title What can you do?
                %p.list
                  %span Create a crew with other homeless
                  %span Join an existing flatshare
                  %span Find a place with your crew if needed
                %button.btn.btn__ghost_small.s-hidden Create my profile
          .xl-10.l-10.m-16.s-16.examples__image
            %img.case_card{:alt => "", :src => "/img/home/homeless_card@2x.jpg"}/
        .row.examples__row
          .xl-6.l-6.m-16.s-16.examples__content
            .shuttle
              .xl-16.l-16.m-8.s-16.first
                %i.icon.i_crew
                %p.title Existing flatshare
              .xl-16.l-16.m-8.s-16.second
                %p.baseline
                  / react-text: 133
                  You are looking for
                  / /react-text
                  %span new flamates
                %p.s_title What can you do?
                %p.list
                  %span Find your next flatmates to join your crew
                  %span Rent your place to the community when you move on
                %button.btn.btn__ghost_small.s-hidden Create our crew
          .xl-10.l-10.m-16.s-16.examples__image
            %img.case_card{:alt => "", :src => "/img/home/existing_card@2x.jpg"}/
        .row.examples__row
          .xl-6.l-6.m-16.s-16.examples__content
            .shuttle
              .xl-16.l-16.m-8.s-16.first
                %i.icon.i_place_on_rent
                %p.title Places to rent
              .xl-16.l-16.m-8.s-16.second
                %p.baseline
                  / react-text: 150
                  You are looking for
                  / /react-text
                  %span tenants
                %p.s_title What can you do?
                %p.list
                  %span Rent your home to make it a place where unique human stories start
                %button.btn.btn__ghost_small.s-hidden Rent my place
          .xl-10.l-10.m-16.s-16.examples__image
            %img.case_card{:alt => "", :src => "/img/home/place_to_rent_card@2x.jpg"}/
  .grid.grid_wrapper.zi-1
    .row
      .all-16.ta-center.section_title.section_title--testimonies
        %h3 Flatshares created on Nice to Mate You
        %p We brought together the coolest flatshare in da game
    .row.center.testimonies
      .xl-12.l-14.m-16.s-16
        .row.around.testimonies__wrapper
          .xl-1.l-2.m-2.s-2
            %i.icon.i_arrow_small_right.slider_arrow.left_arrow
          .xl-14.l-12.m-12.s-12
            .card
              %p.crew
                %span Crew
                / react-text: 172
                Cool kids never die
              / /react-text
              %p.text Had a blast with these young bloods. I would never started to rap if I didn’t meet these dudes. Now call me E=mc2. #BitchDontKillMyVibe
              %p.author Albert Einstein
              %p.bottom
                %span Flatmates
                %span Kendrick Lamar, Albert Einstein, Pickachu
                %span From
                %span Erasmus in Paris
          .xl-1.l-2.m-2.s-2
            %i.icon.i_arrow_small_right.slider_arrow.right_arrow
    .row.center.join_us
      .xl-4.l-6.m-8.s-14
        %button.btn.btn__rounded JOIN THE FAMILY
