%footer.grid
  .grid_wrapper
    .row.xl-around.l-around.m-around.s-center
      .xl-4.l-4.m-6.s-15.social_box
        %h4 Be part of the adventure
        .links
          %a{:href => "https://www.facebook.com/NicetoMateYou", :target => "_blank"}
            %i.icon.i_facebook
          %a{:href => "https://twitter.com/nicetomateyou", :target => "_blank"}
            %i.icon.i_twitter
          %a{:href => "https://www.instagram.com/nicetomateyou", :target => "_blank"}
            %i.icon.i_instagram
      .xl-4.l-4.m-6.s-15.brand_box
        %img{:alt => "Logo Nice To Mate You", :src => "/img/logo_nmy_2015_all_white.png"}/
        %p
          / react-text: 200
          Is the
          / /react-text
          %b international flatmates
          %br/
          / react-text: 203
          community where
          / /react-text
          %br/
          %b unique human stories
          / react-text: 206
          begins.
          / /react-text
          %br/
          / react-text: 208
          Same
          / /react-text
          %b passion
          / react-text: 210
          ,
          / /react-text
          %b mindset
          / react-text: 212
          or
          / /react-text
          %b interest
          / react-text: 214
          meet the right flatmates for your
          / /react-text
          %b lifestyle
          / react-text: 216
          \.
      / /react-text
      .xl-4.l-4.m-5.s-15.links_box
        %h4 About
        %a{:href => "/about"} Nice to Mate You
        %a{:href => "/manifesto"} Manifesto
        %a{:href => "http://bancaleteam.tumblr.com/crew", :target => "_blank"} Bancale Team
    .row.center
      .xl-4.l-4.m-12.s-16
        .inline_links
          %a{:href => "/terms"} Terms & Privacy
          %a{:href => "mailto:nicetomateyou@gmail.com", :target => "_blank"} Contact us
